body {
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}

header {
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid;
  align-items: center;
  z-index: 1;
  position: fixed;
  }

.Flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Flex-container img {
  height: 50px;
  padding-left: 10px;
  width: 167.14px;

}

nav{
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

 #Mission {
  height: 700px;
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: auto;
}

#Mission .content{
  margin: auto;
  background-color: black;
  width: 100%;
}
h2, {
  padding: 10px;
  margin: 0px;
}

h4{
  padding: 10px;
  margin: 0px;
  align-items: flex-end;
  text-align: center;
}

#Featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  flex-direction: row;
}

.james-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 22px;
  text-align: center;

}
.item {
  padding: 5px;
  display: block;

  ;
}

.item img {
  height: 200px;
  margin: 10px;
  display:inline-flex;
  width: 300px;





}

.item span{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  display: block;
  }

.flex-containerlocations {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h3{
  margin: 0;
  padding: 10px;
}

#contact {
  height: 200px;
  text-align: center;
  font-size: 22px;
}

footer {
  text-align: left;
}
